<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enjaz.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E3D07061842F22AEE366FC0EB9F1370E555E605E</string>
				<key>dateExpires</key>
				<string>30/09/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3D07061842F22AEE366FC0EB9F1370E555E605E</string>
						<key>dateExpires</key>
						<string>30/09/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>878WRHSR2X</string>
						<key>name</key>
						<string>Ahmed Elsawasay</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3D07061842F22AEE366FC0EB9F1370E555E605E</string>
						<key>dateExpires</key>
						<string>30/09/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>878WRHSR2X</string>
						<key>name</key>
						<string>Ahmed Elsawasay</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3D07061842F22AEE366FC0EB9F1370E555E605E</string>
						<key>dateExpires</key>
						<string>30/09/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>878WRHSR2X</string>
						<key>name</key>
						<string>Ahmed Elsawasay</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3D07061842F22AEE366FC0EB9F1370E555E605E</string>
						<key>dateExpires</key>
						<string>30/09/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SPAlert.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>878WRHSR2X</string>
						<key>name</key>
						<string>Ahmed Elsawasay</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3D07061842F22AEE366FC0EB9F1370E555E605E</string>
						<key>dateExpires</key>
						<string>30/09/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ShimmerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>878WRHSR2X</string>
						<key>name</key>
						<string>Ahmed Elsawasay</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3D07061842F22AEE366FC0EB9F1370E555E605E</string>
						<key>dateExpires</key>
						<string>30/09/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>878WRHSR2X</string>
						<key>name</key>
						<string>Ahmed Elsawasay</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3D07061842F22AEE366FC0EB9F1370E555E605E</string>
						<key>dateExpires</key>
						<string>30/09/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>878WRHSR2X</string>
						<key>name</key>
						<string>Ahmed Elsawasay</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>878WRHSR2X.prototype.Enjaz</string>
				<key>com.apple.developer.team-identifier</key>
				<string>878WRHSR2X</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>878WRHSR2X.prototype.Enjaz</string>
				</array>
			</dict>
			<key>name</key>
			<string>Enjaz.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f013409c-5646-46c4-86f2-94aff9eb5c64</string>
				<key>dateExpires</key>
				<string>05/10/2022</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: prototype.Enjaz</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>878WRHSR2X</string>
				<key>name</key>
				<string>Ahmed Elsawasay</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
